<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选择登录界面</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form role="form" action="/loginView">
    <h1>管理</h1>
   <input type="submit"id="loginView"value="管理员登录" class="btn btn-default">
</form>
<form role="form" action="/visitorloginView">
    <h1>游客</h1>
  <input type="submit"id="visitorloginView"value="游客登录" class="btn btn-default">
</form>
</body>
</html>